<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<!--标准mui.css-->
		<link rel="stylesheet" href="../mui/css/mui.min.css">
		<!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="../mui/css/app.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title"></h1>
		</header>
		<div class="mui-content" id="wordList">
			
		</div>
		<script src="../mui/js/mui.min.js"></script>
		<script src="../js/lib/jsrender.js"></script>
		<script src="../js/common.js"></script>
		<script  id="wordTmpl" type="text/x-jsrender">
			<div class="mui-card">
				<div class="mui-card-header mui-card-media" style="height:40vw;background-image:url(../images/word/{{:imageName}})"></div>
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						<p style="color: #333;">{{:word}}&nbsp;&nbsp;&nbsp;{{:type}}</p>
						<p>{{:sentence}}</p>
					</div>
				</div>
				<div class="mui-card-footer">
					<a class="mui-card-link">known</a>
					<a class="mui-card-link">more</a>
				</div>
			</div>
		</script>
		
		<script type="text/javascript">
		console.log(getUrlParam("ttId"));
			mui.post(baseurl+'vocabulary/selectWordsByTTId',{
				timetableId: getUrlParam("ttId"),
				page:1,
				rows:10
			},function(data){
				var $ = window.jsrender;                                   
			    var markup = document.getElementById("wordTmpl").innerHTML; 
			    var tmpl = $.templates(markup);                           
			    var html = tmpl.render(data);                             
			    document.getElementById("wordList").innerHTML = html;      
			},'json'
		);
		</script>
	</body>

</html>